button {
  margin-right: 10px;
}
.ant-card {
  margin-bottom: 10px;
}
.ant-btn-group {
  button {
    margin-right: 0;
  }
}

.vertical-center-modal {
  text-align: center;
  white-space: nowrap;
  .ant-modal {
    display: inline-block;
    vertical-align: middle;
    top: 0;
    text-align: left;
  }
  &::before{
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    width: 0;
  }
}
.ant-spin {
  margin-right: 20px !important;
}