@import './base.less';

.container{
  display: flex;
  .nav-left{
    height: calc(100vh);
    background: #001529;
    .ant-menu{
      width: 100% !important;
    }
  }
  .main{
    height: calc(100vh);
    background: @colorL;
    overflow: auto;
    .header {
      margin-left: 20px;
      margin-right: 20px;
      padding-left: 10px;
      padding-right: 10px;
    }
  }
  .content{
    position: relative;
    padding: 20px;
  }
}

::-webkit-scrollbar {
    display: none;
  }
  .ant-menu-item > a {
    display: inline-block !important;
  }